<!doctype html>
<html lang="en">

{% include head.html %}

<body data-instant-intensity="viewport-all">

<div class="container">
  {% include header.html %}
  <div class="posts-wrapper">
    {{ content }}
  </div>
  {% include footer.html %}
</div>

<script src="{{site.url}}/assets/js/instantpage-5.1.0.js" type="module" defer></script>
<link rel="stylesheet" href="{{ site.url }}/assets/css/syntax.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">

</body>
</html>
